# Node.js dependencies
node_modules/
npm-debug.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Logs
logs/
*.log

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Optional VS Code settings
.vscode/

# Optional JetBrains IDE settings
.idea/

# Distribution
dist/